* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /*  1rem = 10px*/
  font-size: 62.5%;
}

body {
  font-family: "poppins", sans-serif;
  line-height: 1.5;
  font-size: 1.6rem;

  background-color: #22396b;
  color: whitesmoke;

  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  width: 80%;
  margin: auto;
  padding-bottom: 2rem;

  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: white;
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.15;
}

h2 {
  color: white;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2;
}

button {
  background-color: #f9be3d;
  color: black;
  border: none;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 1.6rem;
  border-radius: 1rem;
}

header {
  border-bottom: 4px solid #f9be3d;
}

.header-nav li a:hover,
footer nav ul li a:hover {
  background-color: #f9be3d;
  color: #22396b;
}

header,
footer {
  background-color: #22396b;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div-log {
  margin-left: 2rem;
  font-size: 3rem;
  font-weight: bold;
}

.logo,
.header-nav ul li a {
  text-decoration: none;
  font-size: 3rem;

  color: inherit;
  display: inline-block;
  padding: 2rem;
}

.header-nav {
  margin-right: 2rem;
}

.header-nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 2rem;
}

footer {
  border-top: 4px solid #f9be3d;
}
footer nav ul li {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-right: 2rem;
  display: inline-block;
  padding: 2rem;
}

footer nav ul li a {
  color: white;
  text-decoration: none;
}

/*-----------------------------------------------------*/
/*                       home                          */
/*-----------------------------------------------------*/

.titulo-home {
  margin: 3rem 0;
}

.titulo-productos {
  text-align: center;
  margin: 3rem 0;
}

.parrafo {
  width: 80%;
  text-align: center;
  font-size: 2rem;
  padding: 3rem;
}

.contenedor-tarjetas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.card {
  background: gainsboro;
  color: black;

  width: 40rem;
  padding-bottom: 2rem;
  border-radius: 1rem;

  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.card img {
  width: 100%;
}

/*-------------------------------------------*/
/*                MEDIA                      */
/*-------------------------------------------*/

@media (max-width: 768px) {
  header,
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header .div-log,
  .header-nav {
    margin: 0;
  }

  .contenedor-tarjetas {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
